#bautofill_dropDown { 
	background: white;
	border: 1px solid black; 
}
.bautofill_listItem {
	list-style: none;
}
.bautofill_listItem:hover {
	background: ghostwhite;
	cursor:pointer;
}
.bautofill_dropDownList {
	margin:0px;
	padding:0px;
}
